.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Student details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Name:
          %dd.col-md-9= @student.forename + " " + @student.surname
          %dt.col-md-3 Email:
          %dd.col-md-9= @student.email
          
      .card-footer.d-flex
        = link_to 'Back', students_path, class: 'btn btn-link ms-auto'